@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Web Của Duy Tân <br/>
    284/4D Bãi Sậy P8 Q6 TP.HCM<br />
    <abbr title="Phone">P: 0789833428</abbr>
 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>